<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514383288216-j47040pegauadjk2jt49r4qmriegjmtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514383288216-j47040pegauadjk2jt49r4qmriegjmtm</string>
	<key>API_KEY</key>
	<string>AIzaSyBYjX2znvFQGpRJFkWv9cinRqsZej34PKg</string>
	<key>GCM_SENDER_ID</key>
	<string>514383288216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sequel-ace.sequel-ace</string>
	<key>PROJECT_ID</key>
	<string>com-sequel-ace</string>
	<key>STORAGE_BUCKET</key>
	<string>com-sequel-ace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514383288216:ios:375e595e8ae4ba9a3ffded</string>
	<key>DATABASE_URL</key>
	<string>https://com-sequel-ace.firebaseio.com</string>
</dict>
</plist>