name: autoupdate
on:
  push:
    branches:
      - "main"
jobs:
  autoupdate:
    name: Automatically Synchronize PRs
    runs-on: ubuntu-18.04
    steps:
      - uses: docker://chinthakagodawita/autoupdate-action:v1
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          PR_FILTER: "protected"
