<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>Liviu Tudor</string>
	<key>bundleVersion</key>
	<integer>3</integer>
	<key>category</key>
	<string>Copy</string>
	<key>command</key>
	<string>cat | /usr/bin/perl -e '

# read first line to get the column names (header)
$firstLine = &lt;&gt;;

# bail if nothing could read
if(!defined($firstLine)) {
	exit 0;
}

# store the column names
chomp($firstLine);
$firstLine =~ s/\"/\\\"/g;  # escape "
@header = split(/\t/, $firstLine);

$h_cnt = $#header;     # number of columns

# get the column definitions
open(META, $ENV{"SP_BUNDLE_INPUT_TABLE_METADATA"}) or die $!;
@meta = ();
while(&lt;META&gt;) {
	chomp();
	my @arr = split(/\t/);
	push @meta, \@arr;
}
close(META);

print "&lt;table border=\"1\" cellpadding=\"0\" cellspacing=\"0\"&gt;\n";
print "&lt;tr&gt;";
for($i=0; $i&lt;=$h_cnt; $i++) {
	print "&lt;th&gt;$header[$i]&lt;/th&gt;";
}
print "&lt;/tr&gt;\n";

# read row data of each selected row
$rowData=&lt;&gt;;
while($rowData) {

	print "&lt;tr&gt;";

	# remove line ending
	chomp($rowData);

	# escape "
	$rowData=~s/\"/\\\"/g;

	# split column data which are tab-delimited
	@data = split(/\t/, $rowData);
	for($i=0; $i&lt;=$h_cnt; $i++) {
		# re-escape \t and \n
		$cellData = $data[$i];
		$cellData =~ s/↵/\n/g;
		$cellData =~ s/⇥/\t/g;

		print "&lt;td&gt;";
		# check for data types
		if($cellData eq "NULL") {
			print "NULL";
		} else {
			chomp($cellData);
			print "$cellData";
		}
		print "&lt;/td&gt;";
	}

	print "&lt;/tr&gt;\n";

	# get next row
	$rowData=&lt;&gt;;
}

print "&lt;/table&gt;\n"; 
' | __CF_USER_TEXT_ENCODING=$UID:0x8000100:0x8000100 pbcopy</string>
	<key>contact</key>
	<string>yvivh.ghqbe@tznvy.pbz</string>
	<key>description</key>
	<string>Copies the selected rows to clipboard as html</string>
	<key>input</key>
	<string>selectedtablerowsastab</string>
	<key>isDefaultBundle</key>
	<true/>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Copy as HTML</string>
	<key>output</key>
	<string>none</string>
	<key>scope</key>
	<string>datatable</string>
	<key>tooltip</key>
	<string>Copy as HTML</string>
	<key>trigger</key>
	<string>none</string>
	<key>uuid</key>
	<string>31FD6D95-CED5-4870-9A19-5A1396216C37</string>
</dict>
</plist>
